.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
.pytest_cache
.coverage
*.log
logs
.DS_Store
.dockerignore
Dockerfile*
docker-compose*
README.md
.env
.aws
.vscode
.idea