version: "3.8"

services:
  db:
    image: postgres:13-alpine
    environment:
      POSTGRES_DB: taskdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
    ports:
      - "5000:5000"
    environment:
      DB_HOST: db
      DB_NAME: taskdb
      DB_USER: postgres
      DB_PASSWORD: 1234
      DB_PORT: 5432
    depends_on:
      - db
    volumes:
      - ./backend:/app
    restart: unless-stopped

volumes:
  postgres_data: