version: "3.8"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    ports:
      - "5000:5000"
    environment:
      - DB_HOST=host.docker.internal  # Connects to host machine
      - DB_NAME=taskdb
      - DB_USER=postgres
      - DB_PASSWORD=1234
      - DB_PORT=5432
    volumes:
      - ./backend:/app
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
