apiVersion: apps/v1
kind: Deployment
metadata:
  name: taskmanager-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: taskmanager-app
  template:
    metadata:
      labels:
        app: taskmanager-ap
    spec:
      containers:
      - name: taskmanager-app
        image: ayan241/taskmanager:latest
        ports:
        - containerPort: 5001
        env:
        - name: DB_HOST
          value: "postgres-service"
        - name: DB_NAME
          value: "taskdb"
        - name: DB_USER
          value: "postgres"
        - name: DB_PASSWORD
          value: "1234"
        - name: DB_PORT
          value: "5432"
---
apiVersion: v1
kind: Service
metadata:
  name: taskmanager-service
spec:
  selector:
    app: taskmanager-app
  ports:
  - port: 5001
    targetPort: 5001
    nodePort: 30001
  type: NodePort